<app-modal-form-funcionario (onSuccess)="getFuncionarios()"></app-modal-form-funcionario>
<app-modal-detail-funcionario></app-modal-detail-funcionario>

<div class="card card-box">
    <div class="card-header d-flex justify-content-between align-items-center">
        Funcionários

        <button class="btn btn-success btn-sm" (click)="openModalFuncionario('modalFormFuncionario')">
            <i class="fas fa-plus"></i> Novo Funcionário
        </button>
    </div>

    <div class="card-body min-height-card-body">

        <div class="row">
            <div class="col-12">

                <table class="table table-hover table-sm table-responsive-sm my-2">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nome</th>
                            <th class="w-25" scope="col">Data de admissão</th>
                            <th class="w-30" scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let funcionario of funcionarios">
                            <td>{{ funcionario.codigo }}</td>
                            <td>{{ funcionario.usuario.nome }}</td>
                            <td>{{ funcionario.created_at | date:'dd/MM/yyyy' }}</td>
                            <td class="buttons-group">
                                <button class="btn btn-primary btn-sm my-1" title="Editar" (click)="openModalFuncionario('modalFormFuncionario', funcionario)">
                                    <i class="fas fa-edit"></i> Editar
                                </button>

                                <button class="btn btn-info btn-sm my-1" title="Visualizar" (click)="openModalFuncionario('modalDetailFuncionario', funcionario)">
                                    <i class="fas fa-search"></i> Visualizar
                                </button>

                                <button class="btn btn-sm my-1 disabled" [ngClass]="{'btn-danger': funcionario.usuario.st_ativo, 'btn-success': !funcionario.usuario.st_ativo}">
                                    <i class="fas fa-lock"></i> {{ (funcionario.usuario.st_ativo)? 'Inativar': 'Ativar' }}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>

                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>