.bg-success-card {
    background-color: #4b9c5d !important;
}

.bg-danger-card {
    background-color: #a04d55 !important;
}

.mt-hr {
    margin-top: 28px;
}

.nav-header-font {
    font-size: smaller;
}

.w-20 {
    width: 20% !important;
}

.w-40 {
    width: 40% !important;
}