<app-modal-confirmar-participacao [idEvento]="evento.id" (onSuccess)="reloadParticipantes($event, evento, accordionRef)"></app-modal-confirmar-participacao>

<div class="row row-cols-2 row-cols-md-1 text-center">
    <div class="col-md-2 my-2">
        <div class="card text-light bg-success-card">
            <div class="card-body">
                <h6 class="card-title">Funcionários confirmados</h6>
                <hr>
                <h4 class="card-text">{{ estatisticasEvento.totalFuncionariosConfirmados }}</h4>
            </div>
        </div>
    </div>

    <div class="col-md-2 my-2">
        <div class="card text-light bg-success-card">
            <div class="card-body">
                <h6 class="card-title">Convidados confirmados</h6>
                <hr>
                <h4 class="card-text">{{ estatisticasEvento.totalConvidadosConfirmados }}</h4>
            </div>
        </div>
    </div>

    <div class="col-md-2 my-2">
        <div class="card text-light bg-success-card">
            <div class="card-body">
                <h6 class="card-title">Total arrecadado</h6>
                <hr>
                <h4 class="card-text">{{ estatisticasEvento.totalArrecadado | currency:'BRL' }}</h4>
            </div>
        </div>
    </div>

    <div class="col-md-2 my-2">
        <div class="card text-light bg-danger-card">
            <div class="card-body">
                <h6 class="card-title">Total gasto em bebidas</h6>
                <hr>
                <h4 class="card-text">{{ estatisticasEvento.totalGastoBebida | currency:'BRL' }}</h4>
            </div>
        </div>
    </div>

    <div class="col-md-2 my-2">
        <div class="card text-light bg-danger-card">
            <div class="card-body">
                <h6 class="card-title">Total gasto em comidas</h6>
                <hr>
                <h4 class="card-text">{{ estatisticasEvento.totalGastoComida | currency:'BRL' }}</h4>
            </div>
        </div>
    </div>

    <div class="col-md-2 my-2">
        <div class="card text-light bg-danger-card">
            <div class="card-body">
                <h6 class="card-title mt-2">Total gasto</h6>
                <hr class="mt-hr">
                <h4 class="card-text">{{ estatisticasEvento.totalGasto | currency:'BRL' }}</h4>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 card card-box">
    <div class="card-header d-flex justify-content-between align-items-center">
        <button class="btn btn-dark btn-sm my-2" [routerLink]="['/evento']">
            <i class="fas fa-arrow-left"></i> Voltar
        </button>

        <button class="btn btn-success btn-sm" (click)="openModalParticipacaoEvento('modalFormConfirmPart')">
            <i class="fas fa-user-plus"></i> Confirmar Participação
        </button>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-md-12">

                <h4>Informações: </h4>

                <small class="text-muted">Data de realização: {{ evento.data_realizacao | date:'dd/MM/yyyy HH:mm' }}</small>

                <div class="text-justify mb-4 mt-2">{{ evento.descricao }}</div>

                <accordion [closeOthers]="true" [isAnimated]="true" #accordionRef>
                    <accordion-group heading="Funcionários Confirmados">

                        <table class="table table-hover table-sm table-responsive-sm my-2">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="w-40" scope="col">Nome</th>
                                    <th class="w-20" scope="col">Data da confirmação</th>
                                    <th class="w-40" scope="col">Ações</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="funcionariosConfirmadosEvento.length > 0">
                                <tr *ngFor="let funcionarioConfirmado of funcionariosConfirmadosEvento">
                                    <td>{{ funcionarioConfirmado.usuario.nome }}</td>
                                    <td>{{ funcionarioConfirmado.usuario.presenca_evento.created_at | date:'dd/MM/yyyy' }}</td>
                                    <td class="buttons-group">
                                        <button class="btn btn-danger btn-sm" title="Cancelar participação" (click)="cancelarParticipacao(funcionarioConfirmado.usuario, evento, accordionRef)">
                                            <i class="fas fa-user-slash"></i> Cancelar participação
                                        </button>

                                        <button class="btn btn-warning btn-sm" title="Adicionar convidado" (click)="openModalParticipacaoEvento('modalFormConfirmPart', funcionarioConfirmado)" *ngIf="!funcionarioConfirmado.convidado">
                                            <i class="fas fa-user-plus"></i> Adicionar convidado
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="funcionariosConfirmadosEvento.length == 0">
                                <tr class="text-center">
                                    <td colspan="4">Nenhum resultado encontrado.</td>
                                </tr>
                            </tbody>
                        </table>

                    </accordion-group>

                    <accordion-group heading="Convidados Confirmados">

                        <table class="table table-hover table-sm table-responsive-sm my-2">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="w-25" scope="col">Nome</th>
                                    <th class="w-25" scope="col">Funcionário Responsável</th>
                                    <th class="w-25" scope="col">Data da confirmação</th>
                                    <th class="w-25" scope="col">Ações</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="convidadosConfirmadosEvento.length > 0">
                                <tr *ngFor="let convidadoConfirmado of convidadosConfirmadosEvento">
                                    <td>{{ convidadoConfirmado.usuario.nome }}</td>
                                    <td>{{ convidadoConfirmado.funcionario_responsavel.usuario.nome }}</td>
                                    <td>{{ convidadoConfirmado.usuario.presenca_evento.created_at | date:'dd/MM/yyyy' }}</td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" title="Cancelar participação" (click)="cancelarParticipacao(convidadoConfirmado.usuario, evento, accordionRef)">
                                            <i class="fas fa-user-slash"></i> Cancelar participação
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="convidadosConfirmadosEvento.length == 0">
                                <tr class="text-center">
                                    <td colspan="4">Nenhum resultado encontrado.</td>
                                </tr>
                            </tbody>
                        </table>

                    </accordion-group>
                </accordion>

            </div>
        </div>

    </div>
</div>