<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <div id="notfound">
                <div class="notfound">
                    <div class="notfound-404">
                        <h1>404</h1>
                    </div>

                    <h2>Página não encontrada!</h2>
                    <p>A página solicitada não foi encontrada!</p>

                    <button type="button" class="btn btn-secondary pb-2" [routerLink]="['/']">
                        <i class="fas fa-home"></i> Voltar á página inicial
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>