<ngx-smart-modal #modalFormConfirmPart identifier="modalFormConfirmPart" [escapable]="false" [dismissable]="false" [closable]="false" (onOpen)="init(modalFormConfirmPart)" (onClose)="resetDependencies(formConfirmPart)" customClass="nsm-dialog-animation-fade">
    <div>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Confirmar Participação</h4>

        </div>

        <div class="d-flex justify-content-end">
            <small class="text-danger pr-2 mb-0">Campos obrigatórios: *</small>
        </div>

        <form class="form-horizontal" #formConfirmPart="ngForm" (ngSubmit)="save(formConfirmPart, presencasEvento, modalFormConfirmPart)" autocomplete="off" novalidate>
            <div class="modal-body">
                <div class="form-row" *ngIf="!funcionario">
                    <div class="form-group col-md-12">
                        <label for="funcionario">Nome Funcionário: <span class="text-danger">*</span></label>

                        <ngx-select class="w-100" id="funcionario" [items]="funcionariosPendentesEvento" [(ngModel)]="presencasEvento.funcionario.id_usuario" name="funcionario" #funcionario="ngModel" optionValueField="id" optionTextField="nome" placeholder="Selecione o funcionário"
                            required></ngx-select>

                        <show-errors [control]="funcionario" [ngForm]="formConfirmPart"></show-errors>
                    </div>
                </div>

                <div class="form-row" *ngIf="funcionario">
                    <div class="form-group col-md-12">
                        <label for="nomeFuncionario">Nome Funcionário: <span class="text-danger">*</span></label>

                        <input type="text" id="nomeFuncionario" class="form-control" [(ngModel)]="presencasEvento.funcionario.usuario.nome" name="nomeFuncionario" #nomeFuncionario="ngModel" [disabled]="funcionario">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="presencasEvento.funcionario.st_bebe" name="stBebeFunc" #stBebeFunc="ngModel" [value]="true" id="stBebeFunc" [disabled]="funcionario">

                            <label class="form-check-label" for="stBebeFunc">Incluir Bebida?</label>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="presencasEvento.has_convidado" name="has_convidado" #has_convidado="ngModel" [value]="true" id="hasConvidado" (change)="limparConvidado()" [disabled]="funcionario">

                            <label class="form-check-label" for="hasConvidado">Incluir Convidado?</label>
                        </div>
                    </div>
                </div>

                <div *ngIf="presencasEvento.has_convidado">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="nomeConvidado">Nome Convidado: <span class="text-danger">*</span></label>

                            <input type="text" id="nomeConvidado" class="form-control" [(ngModel)]="presencasEvento.convidado.usuario.nome" name="nomeConvidado" #nomeConvidado="ngModel" [maxlength]="100" required>

                            <show-errors [control]="nomeConvidado" [ngForm]="formConfirmPart"></show-errors>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="presencasEvento.convidado.st_bebe" name="stBebeConv" #stBebeConv="ngModel" [value]="true" id="stBebeConv">

                                <label class="form-check-label" for="stBebeConv">Incluir Bebida?</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="alert alert-secondary mb-0" role="alert">
                    <b>Valor a pagar:</b> {{ getTotalValorPagamento(presencasEvento) | currency:'BRL' }}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm pull-right" (click)="modalFormConfirmPart.close()">
                    <i class="fa fa-times"></i> Fechar
                </button>

                <button class="btn btn-success btn-submit btn-sm" type="submit">
                    <i class="fa fa-save"></i> Confirmar
                </button>
            </div>
        </form>
    </div>
</ngx-smart-modal>