<div class="card-body">
    <h6 class="card-title">{{ titulo }}</h6>

    <small class="text-muted">Data de realização: {{ dataRealizacao | date:'dd/MM/yyyy HH:mm':'UTC +0' }}</small>

    <div class="d-flex justify-content-around">
        <button class="mt-3 btn btn-primary" [routerLink]="['../../evento', idEvento, 'edit']" *ngIf="statusEvento">
            <i class="fas fa-edit"></i> Editar
        </button>

        <button class="mt-3 btn btn-info" [routerLink]="['../../evento', idEvento, 'detail']">
            <i class="fas fa-file-alt"></i> Informações
        </button>

        <button class="mt-3 btn disabled" [ngClass]="{'btn-danger': statusEvento, 'btn-success': !statusEvento}">
            <i class="fas fa-lock"></i> {{ (statusEvento)? 'Inativar': 'Ativar' }}
        </button>
    </div>
</div>

<div class="card-footer">
    <small class="text-muted">Data de criação: {{ infoCriacao | date:'dd/MM/yyyy HH:mm:ss' }}</small>
    <hr>
    <small class="text-muted">Última alteração: {{ infoAlteracao | date:'dd/MM/yyyy HH:mm:ss' }}</small>
</div>