<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
</div>

<div class="modal-body mt-2">
    <p>{{ message }}</p>
</div>

<div class="modal-footer">
    <button type="button" class="btn px-4 py-1 {{ btnCancelClass }}" (click)="decline()">
        {{ btnCancelText }}
    </button>

    <button type="button" class="btn px-4 py-1 {{ btnOkClass }}" (click)="accept()">
        {{ btnOkText }}
    </button>
</div>