<div class="card card-box">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Eventos</h4>

        <button class="btn btn-success btn-sm" [routerLink]="['/evento/add']">
            <i class="fas fa-plus"></i> Novo Evento
        </button>
    </div>

    <div class="card-body min-height-card-body">

        <div class="row">
            <div class="mb-3 col-md-6" *ngFor="let evento of eventos">

                <div class="card-deck">
                    <div class="card" [ngClass]="{'border-secondary': evento.st_ativo, 'border-danger': !evento.st_ativo}">
                        <card-event [titulo]="evento.titulo" [idEvento]="evento.id" [statusEvento]="evento.st_ativo" [dataRealizacao]="evento.data_realizacao" [infoCriacao]="evento.created_at" [infoAlteracao]="evento.updated_at"></card-event>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>