<ngx-ui-loader></ngx-ui-loader>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <h4 class="text-info">Hammer Consult</h4>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav text-center">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/evento']">
                        <i class="fas fa-calendar-alt"></i> Eventos
                    </a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/funcionario']">
                        <i class="fas fa-users"></i> Funcionarios
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="mt-ajuste-card mb-4">
    <router-outlet></router-outlet>
</main>