<div class="card card-box">
    <div class="card-header d-flex justify-content-start align-items-center">
        <h4 class="mb-0" *ngIf="!evento.id">Cadastrar Evento</h4>
        <h4 class="mb-0" *ngIf="evento.id">Editar Evento</h4>
    </div>

    <div class="card-body">
        <div class="d-flex justify-content-end">
            <small class="text-danger pr-2 mb-0">Campos obrigatórios: *</small>
        </div>

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal" #formEvento="ngForm" (ngSubmit)="save(formEvento, evento)" autocomplete="off" novalidate>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="titulo">Título: <span class="text-danger">*</span></label>

                            <input type="text" id="titulo" class="form-control" [(ngModel)]="evento.titulo" name="titulo" #titulo="ngModel" [maxlength]="100" required>

                            <show-errors [control]="titulo" [ngForm]="formEvento"></show-errors>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="dtRealizacao">Data da realização: <span class="text-danger">*</span></label>

                            <input id="dtRealizacao" class="form-control" [(ngModel)]="evento.data_realizacaoAUX" name="data_realizacao" #data_realizacao="ngModel" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default', showWeekNumbers: false }"
                                [minDate]="minDate" [readonly]="true" required>

                            <show-errors [control]="data_realizacao" [ngForm]="formEvento"></show-errors>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="descricao">Descrição: <span class="text-danger">*</span></label>

                            <textarea id="titulo" class="form-control" [(ngModel)]="evento.descricao" name="descricao" #descricao="ngModel" [maxlength]="500" required></textarea>

                            <show-errors [control]="descricao" [ngForm]="formEvento"></show-errors>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="hrRealizacao">Horário: <span class="text-danger">*</span></label>

                            <timepicker class="d-flex justify-content-center" id="hrRealizacao" [(ngModel)]="evento.horario_realizacaoAUX" name="horario_realizacao" #horario_realizacao="ngModel" [showMeridian]=" false " bsDatetime required></timepicker>

                            <show-errors [control]="horario_realizacao" [ngForm]="formEvento"></show-errors>
                        </div>
                    </div>

                    <hr>

                    <div class="float-right ">
                        <button type="button " class="btn btn-danger btn-sm pull-right " [routerLink]="[ '/evento'] ">
                            <i class="fa fa-times "></i> Cancelar
                        </button>

                        <button class="btn btn-success btn-submit btn-sm " type="submit ">
                            <i class="fa fa-save "></i> Salvar
                        </button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>