textarea {
    resize: vertical;
    min-height: 105px;
    max-height: 150px;
}

input[readonly] {
    background-color: #fff;
    border: 1px solid #ced4da;
}

input[readonly]:focus {
    border-color: #80bdff;
}

.required-timepicker {
    color: red;
    font-size: 12px;
    list-style: none;
    margin: 14px 5px 5px 5px;
}