<ngx-smart-modal #modalDetailFuncionario identifier="modalDetailFuncionario" [escapable]="false" [dismissable]="false" [closable]="false" (onOpen)="init(modalDetailFuncionario.getData())" customClass="nsm-dialog-animation-fade">
    <div>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Visualizar Funcionário</h4>
        </div>

        <div class="modal-body">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Código: </label>
                    <span>{{ funcionario.codigo }}</span>
                </div>

                <div class="form-group col-md-12">
                    <label>Nome Completo: </label>
                    <span>{{ funcionario.usuario.nome }}</span>
                </div>

                <div class="form-group col-md-12">
                    <label>Data de Admissão: </label>
                    <span>{{ funcionario.created_at | date:'dd/MM/yyyy' }}</span>
                </div>

                <div class="form-group col-md-12">
                    <label>Perfil: </label>
                    <span>{{ funcionario.usuario.perfil.descricao }}</span>
                </div>

                <div class="form-group col-md-12">
                    <label>Última Alteração: </label>
                    <span>{{ funcionario.updated_at | date:'dd/MM/yyyy' }}</span>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm pull-right" (click)="modalDetailFuncionario.close()">
                <i class="fa fa-times"></i> Fechar
            </button>
        </div>
    </div>
</ngx-smart-modal>