@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import "node_modules/ngx-smart-modal/ngx-smart-modal.scss";
@import 'node_modules/ngx-toastr/toastr-bs4-alert.scss';
@import '~bootstrap/scss/bootstrap';

/* SCSS */

body {
    background-color: #e5e5e5;
}

label {
    font-weight: 600;
    font-size: 14px;
}

.bs-timepicker-field {
    width: 100% !important;
}

button.disabled:hover {
    cursor: not-allowed;
}

.form-group>span {
    margin-left: 5px;
}

.nsm-content {
    padding: 0rem;
}

.card-box {
    -webkit-box-shadow: 0px 8px 14px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 8px 14px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 8px 14px -8px rgba(0, 0, 0, 0.75);
}

.buttons-group>a,
button {
    margin: 0px 6px;
}

.btn:focus,
.btn.focus,
.btn:hover,
.btn.hover {
    box-shadow: none !important;
    text-decoration: none !important;
}

.tab-content {
    padding: 8px 10px !important;
}