<ngx-smart-modal #modalFormFuncionario identifier="modalFormFuncionario" [escapable]="false" [dismissable]="false" [closable]="false" (onOpen)="init(modalFormFuncionario)" (onClose)="resetDependencies(formFuncionario)" customClass="nsm-dialog-animation-fade">
    <div>
        <div class="modal-header">
            <h4 class="modal-title pull-left" *ngIf="!isUpdate">Novo Funcionário</h4>
            <h4 class="modal-title pull-left" *ngIf="isUpdate">Alterar Funcionário</h4>

        </div>

        <div class="d-flex justify-content-end">
            <small class="text-danger pr-2 mb-0">Campos obrigatórios: *</small>
        </div>

        <form class="form-horizontal" #formFuncionario="ngForm" (ngSubmit)="save(formFuncionario, funcionario, modalFormFuncionario)" autocomplete="off" novalidate>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="nome">Nome Completo: <span class="text-danger">*</span></label>

                        <input type="text" id="nome" class="form-control" [(ngModel)]="funcionario.usuario.nome" name="nome" #nome="ngModel" [maxlength]="100" required>

                        <show-errors [control]="nome" [ngForm]="formFuncionario"></show-errors>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="id_perfil">Perfil: <span class="text-danger">*</span></label>

                        <select id="id_perfil" class="form-control" [(ngModel)]="funcionario.usuario.id_perfil" name="id_perfil" #id_perfil="ngModel" required>
                            <option value="undefined">Selecione</option>
                            <option *ngFor="let perfil of perfis" [value]="perfil.id">{{ perfil.descricao }}</option>
                        </select>

                        <show-errors [control]="id_perfil" [ngForm]="formFuncionario"></show-errors>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm pull-right" (click)="modalFormFuncionario.close()">
                    <i class="fa fa-times"></i> Fechar
                </button>

                <button class="btn btn-success btn-submit btn-sm" type="submit">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>
        </form>
    </div>
</ngx-smart-modal>